.home {
  height: 3000px;
}
#home {
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  max-height: 80vh;
  z-index: -1;
}
@media (max-width: 768px) {
  .home {
    height: 1500px;
  }
  #home {
    max-width: 130%;
    max-height: 130%;
  }
}
