#scrollDown {
  position: fixed;
  border: 2px solid white;
  border-radius: 10px;
  width: 15px;
  height: 45px;
  padding: 2px 0px;
  bottom: 6vh;
  margin-left: 50%;
  transform: translateX(-50%);
}

#scrollDown #rond {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto;
  animation: anim1 1.5s infinite;
}

@keyframes anim1 {
  0% {
    margin-top: 0px;
    opacity: 0;
  }
  100% {
    margin-top: 33px;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  #scrollDown {
    transform: rotate(180deg);
  }
}
